<style>

    .footer {
        background: orange;
        padding: 10px 0;
        text-align: center;
        color: #000;
        font-size: 13px;
        width : 100%;
    }
</style>
<div class="footer" id="footer" >
    <p>S.A. au capital de 1.443.600.400,00 DH - Siége : 621, boulevard Panoramique, 20150 Casablanca, Maroc - R.C. 70617 Casablanca - C.N.S.S. 1929415 - I.F. 1085799 - T.P. 37997801 - ICE / 001524400000046</p>
</div>