@{
    Layout = null;
}
@model Domain.Models.ForgotPasswordModel


<!DOCTYPE html>

<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mot de passe oublié</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section class="fxt-template-animation fxt-template-layout4 loaded">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-12 fxt-bg-wrap">
                    <div class="fxt-bg-img" data-bg-image="siege.jpg">
                        <div class="fxt-header">
                            <div class="fxt-transformY-50 fxt-transition-delay-1">
                                <a href="#0" class="fxt-logo"><img width="400" src="~/img/ic_morocco.svg" alt="Logo"></a>
                            </div>
                            <div class="fxt-transformY-50 fxt-transition-delay-2">

                            </div>
                            <div class="fxt-transformY-50 fxt-transition-delay-3">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-12 fxt-bg-color">
                    <div class="fxt-content">
                        <div class="fxt-form">
                            <form id="login_form" asp-action="ForgotPassword" method="POST">
                                <div class="form-group">
                                    <label for="UserName" class="input-label">Email</label>
                                    <input class="form-control" id="email" asp-for="Email" type="email" name="email" required>
                                </div>
                                <div class="text-danger" style="color:red; font-weight:bold">
                                    @TempData["MailError"]
                                </div>
                                <div style="color:darkgreen; font-weight:bold">
                                    @TempData["MailConfirmation"]
                                </div>
                                <div class="form-group">
                                    <button id="envoyer" type="submit" class="fxt-btn-fill">Envoyer</button>
                                </div>                           
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jquery-->
    <script src="~/js/jquery-3.5.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="~/js/imagesloaded.pkgd.min.js"></script>

    <!-- Custom Js -->
    <script src="~/js/main.js"></script>

</body>

</html>

<script>
    @if (TempData["MailConfirmation"] != null)
    {
        <text>HideEnvoyer();</text>
    }

    function HideEnvoyer() {
        $('#envoyer').hide();
    }
</script>